/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

.outer-wrap-header {
    border-bottom: 1px solid #222;
}

.rm-default a {
    padding: 1.1em 1em;
}

.region-flash img {
    display: none;
}

.region-flash {
    height: @magicNumber * 2;
}
